
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #ffffff;
  font-family: "Bricolage Grotesque", system-ui, sans-serif;
  color:var(--text);
  font-size: var(--base);
  color: var(--ink);
}

@font-face {
  font-family: "Brasika Display Regular";
  src: url("BrasikaDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}